body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

.section-title {
    color: #000;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

/***************************** HEADER *****************************/

header {
    width: 100%;
    height: 685px;
    background-image: linear-gradient(to bottom, #161616 600px, #F1F2F5 600px, #F1F2F5 685px);
    position: relative;
}

.wrapper {
    width: 65%;
    margin: 0 auto;
}

.main-nav {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav__menu {
    padding: 0;
    margin: 0;
    display: flex;
    width: 630px;
    justify-content: space-between;
}

#main-nav__toggle {
    display: none;
}

.main-nav__hamburger {
    display: none;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;
}

.main-nav__hamburger > span,
.main-nav__hamburger > span::before,
.main-nav__hamburger > span::after {
    display: block;
    position: absolute;  
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.main-nav__hamburger > span::before {
    content: '';
    top: -8px;
}

.main-nav__hamburger > span::after {
    content: '';
    top: 8px;
}

#main-nav__toggle:checked ~ .main-nav__hamburger > span {
    transform: rotate(45deg);
}

#main-nav__toggle:checked ~ .main-nav__hamburger > span::before {
    top: 0;
    transform: rotate(0);
}

#main-nav__toggle:checked ~ .main-nav__hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}

.main-nav__menu li {
    list-style: none;
}

.main-nav__link {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    transition: color .4s;
}

.main-nav__link:hover {
    color: rgb(163, 163, 163);
}

.main-nav__phone {
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 0.1em;
    position: relative;
}

.main-nav__phone::before {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 18px;
    background-image: url("../img/lab4/phone.png");
    left: -20px;
    top: -1px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-nav__location {
    color: #fff;
    letter-spacing: 0.1em;
    position: relative;
}

.main-nav__location::before {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 18px;
    background-image: url("../img/lab4/location.png");
    left: -20px;
    top: -4px;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-info {
    margin-top: 140px;
    height: 331px;
    position: relative;
    z-index: 5;
}

.slides {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 506px;
}

.slides .slide {
    width: 100%;
    height: 100%;
    animation: slide-animation 1s;
    background-repeat: no-repeat;
    background-size: cover;
}

.slides .slide-1 {
    background-image: url('../img/lab4/slide_1.png');
}

.slides .slide-2 {
    background-image: url('../img/lab4/slide_2.jpg');
}

.slides .slide-3 {
    background-image: url('../img/lab4/slide_3.jpg');
}

.slider-info__btn {
    background-color: #FFE500;
    border: none;
    outline: none;
    width: 215px;
    height: 60px;
    color: #000;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 51px;
}

.slider-info__title {
    color: #fff;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    width: 536px;
    height: 122px;
    font-size: 2.7rem;
    line-height: 32px;
    letter-spacing: .12em;
}

.slider-dots {
    position: absolute;
    bottom: 0;
    right: 55%;
}

.slider-dots .slider-count {
    color: #fff;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 1.8rem;
    font-weight: normal;
}

.prev::selection, .next::selection,
.slider-count::selection,
.slider-count .count::selection {
    background-color: transparent;
}

.slider-dots .slider-count:hover {
    cursor: default;
}

.prev, .next {
    color: #fff;
    font-size:  2rem;
    transition: .2s;
}

.prev {
    margin-right: 21px;
}

.next {
    margin-left: 21px;
}

.next:hover, .prev:hover {
    cursor: pointer;
    color: rgb(189, 189, 189);
}

/***************************** FEATURES SECTION *****************************/

.features {
    padding-top: 130px;
    padding-bottom: 70px;
    background-color: #F1F2F5;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 460px;
    width: 370px;
    background-color: #fff;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.102355);
    text-decoration: none;
    transition: transform .6s;
    margin-top: 40px;
    position: relative;
}

.card .maps {
    position: absolute;
    height: 54px;
    left: 0;
    top: 0;
    background-color: #FFE500;
    background-image: url('../img/lab4/showMap.png');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    transition: clip-path .6s;
    padding: 17px 15px 16px 60px;
    width: 85%;
    clip-path: polygon(0px 0px, 55px 0px, 55px 50px, 0px 50px);
}

.card .maps::after {
    content: 'Смотреть карту территорий';
    font-weight: normal;
    font-size: 1.8rem;
    color: #161616;
    white-space: nowrap;
    transition: .6s;
}

.card:hover .maps {
    clip-path: polygon(0px 0px, 100% 0px, 100% 50px, 0px 50px);
}

.card:hover {
    transform: translateY(-20px);
}

.card__img {
    width: 100%;
    height: 345px;
}

.card__img img {
    width: 100%;
    height: 100%;
}

.card__title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
    margin-top: 35px;
    margin-left: 31px;
}

/***************************** ADVANTAGES SECTION *****************************/

.advantages {
    padding-top: 100px;
    padding-bottom: 80px;
}

.advantages__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.advantages__item {
    display: flex;
    max-width: 280px;
    width: 280px;
    align-items: center;
    margin-top: 85px;
}

.advantages__item-number {
    min-width: 51px;
    min-height: 51px;
    background-color: #FFE500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    margin-right: 40px;
}

.advantages__item-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

/***************************** MAP SECTION *****************************/

.map {
    padding-top: 52px;
    padding-bottom: 120px;
}

.map__img {
    margin-top: 45px;
    width: 100%;
}

/***************************** SERVICE SECTIONS *****************************/

.first-service, .second-service {
    width: 100%;
    margin-top: 100px;
}

.first-service__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 90px;
}

.first-service__title,
.second-service__title {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding: 0;
}

.first-service__text,
.second-service__text {
    width: 430px;
    height: 150px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #161616;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.second-service__text,
.second-service__title {
    color: #fff;
}

.first-service__order-btn,
.second-service__order-btn {
    width: 277px;
    height: 55px;
    background-color: #161616;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 40px;
    border: none;
    outline: none;
    transition: .3s;
}

.first-service__order-btn:hover {
    background-color: #3f3f3f;
    cursor: pointer;
}

.second-service__order-btn {
    border: 1px solid #fff;
}

.second-service__order-btn:hover {
    border-color: rgb(156, 156, 156);
    cursor: pointer;
    color: rgb(156, 156, 156);
}

.second-service {
    width: 100%;
    height: 703px;
    background-image: linear-gradient(to bottom, #161616 603px, #fff 603px, #fff 703px);
    position: relative;
}

.first-service__wrapper,
.second-service__wrapper {
    display: flex;
}

.first-service__img {
    position: relative;
    width: 100%;
}

.first-service__img img {
    width: 100%;
}

.first-service__img::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -66px;
    left: -60px;
    background-color: #F1F2F5;
    z-index: -111;
}

.second-service__content {
    margin-top: 205px;
}

.second-service__img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.second-service__img img {
    width: 100%;
}

.second-service__text {
    width: 493px;
}

/***************************** CONTACT SECTIONS *****************************/

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact .section-title {
    width: 703px;
    margin: 0 auto;
}

.contact-form {
    width: 703px;
    display: flex;
    margin: 0 auto;
    margin-top: 31px;
    justify-content: space-between;
}

.contact-form input {
    width: 249px;
    height: 55px;
    background-color: #EFF0F1;
    border: none;
    outline: none;
    padding: 18px 20px 18px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    color: #161616;
}

.contact-form input::placeholder {
    opacity: .5;
}

.contact-form button {
    background-color: #161616;
    width: 170px;
    height: 50px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.07em;
}

/***************************** FOOTER *****************************/

footer {
    width: 100%;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .main-nav {
    flex-wrap: wrap;
}

@keyframes slide-animation {
    from {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1544px) {
    .second-service__img {
        position: static;
        width: 80%;
    }

    .second-service__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .second-service__content {
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-service__order-btn {
        margin-top: 0px;
    }

    .second-service {
        height: 803px;
        background-image: linear-gradient(to top, #161616 760px, #fff 760px, #fff 803px);
    }
}

@media screen and (max-width: 1366px) {
    .wrapper {
        width: 90%;
    }

    .main-nav__menu {
        width: 530px;
    }

    .slides {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: -1;
    }

    header {
        background-image: none;
        background-color: rgba(15, 15, 15, .4);
        
    }

    .slider-dots {
        position: static;
        text-align: center;
        margin-top: 170px;
    }

    .second-service__img {
        width: 60%;
    }

}

@media screen and (max-width: 1190px) {
    .first-service__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .first-service__img::before {
        display: none;
    }

    .first-service__content {
        text-align: center;
        margin-right: 0;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .first-service__img {
        width: 60%;
    }

    .first-service__order-btn {
        margin-top: 0;
    }

    .first-service__text {
        width: 80%;
        height: auto;
        margin-bottom: 30px;
    }

    .second-service__img {
        width: 75%;
    }
}

@media screen and (max-width: 942px) {
    .advantages__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .second-service__img {
        width: 100%;
    }

    .contact-form {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .contact .section-title {
        width: 100%;
    }

    .contact-form input {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-form button {
        width: 80%;
    }
}

@media screen and (max-width: 656px) {
    .advantages__wrapper {
        grid-template-columns: 1fr;
    }

    footer .main-nav__menu {
        width: 100%;
    }

    .second-service__text {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    footer .main-nav__menu {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    footer .main-nav__phone,
    footer .main-nav__location {
        display: none;
    }

    footer .main-nav {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    footer .main-nav__logo {
        width: 91px;
        height: 37px;
    }

    footer .main-nav li {
        margin-top: 20px;
    }

    footer {
        height: 300px;
    }

}

@media screen and (max-width: 430px) {
    .wrapper {
        width: 90%;
    }

    .slider-info__title {
        width: 285px;
        height: auto;
    }

    .slider-info__btn {
        width: 168px;
    }

    .slider-dots {
        margin-top: 70px;
    }

    .card {
        width: 288px;
        height: 358px;
    }

    .card__img {
        height: 268px;
    }

    header .main-nav__phone,
    header .main-nav__location,
    header .main-nav__menu {
        display: none;
    }

    header .main-nav {
        flex-direction: row-reverse;
    }

    .main-nav__hamburger {
        display: block;
        margin-top: 15px;
        z-index: 11;
    }

    #main-nav__toggle:checked ~ .main-nav__menu {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #161616;
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 176px;
    }

    header .main-nav__logo {
        z-index: 10;
    }

    header .main-nav li {
        margin-top: 59px;
    }

    header .main-nav__link {
        font-size: 2.4rem;
        line-height: 16px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        font-weight: 300;
    }

    .first-service__img {
        width: 100%;
    }

    .second-service {
        height: 603px;
        background-image: linear-gradient(to top, #161616 560px, #fff 560px, #fff 603px);
    }

    .contact-form input {
        width: 90%;
        margin-bottom: 20px;
    }

    .contact-form button {
        width: 90%;
    }

    .card .maps::after {
        font-size: 1.2rem;
    }
}