<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href="./labs_styles/lab3/lab3.css")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css")
        title Lab 3
    body
        header
            .container
                .menu
                    input#menu__toggle(type="checkbox")
                    label.menu__hamburger(for="menu__toggle")
                        span
                    ul.menu__nav
                        li
                            a(href="#") О проекте
                        li
                            a(href="#") Курсы
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") Контакты
                    button.button.menu_start-btn Начать обучение
                h1.banner__title Веб-разработка с нуля
                p.banner__desc
                    | Получи востребованную работу будущего с гарантией высокого заработка и измени свой привычный формат жизни.
            .scene
        .container
            section.about.row
                .about__image.column
                    img(src="./img/about.jpg", alt="about us")
                .about__content.column
                    h2 Почему наши курсы лучшие в интернете
                    p.about__content-text
                        | Sitting hearted on it without me. Equally he minutes my hastily. Took sold add play may none him few. In expression an solicitude principles in do. Limits far yet turned highly repair parish talked six. Up hung mr we give rest half. An stairs as be lovers uneasy. Took sold add play may none him few. Am wound worth water he linen at vexed.
                    h3 Чем мы лучше других
                    ul.pluses
                        li 
                            svg.list-step
                                circle(r='10' fill='#9b4dca' cx='50%' cy='50%')
                            | In expression an solicitude principles in do. He felicity no an at packages answered opinions juvenile.
                        li 
                            svg.list-step
                                circle(r='10' fill='#9b4dca' cx='50%' cy='50%')
                            | In expression an solicitude principles in do. He felicity no an at packages answered opinions juvenile.
                        li 
                            svg.list-step
                                circle(r='10' fill='#9b4dca' cx='50%' cy='50%')
                            | In expression an solicitude principles in do. He felicity no an at packages answered opinions juvenile.
                        li 
                            svg.list-step
                                circle(r='10' fill='#9b4dca' cx='50%' cy='50%')
                            | In expression an solicitude principles in do. He felicity no an at packages answered opinions juvenile.
            section.curses
                h2 Изучайте основы вашей профессии
                .cards
                    .curses__card
                        img.curses__card-img(src="./img/designer.png", alt="Card 1")
                        .curses__card-content
                            h3.curses__card-title Веб дизайн/верстка
                            p.curses__card-desc Онлайн курсы по веб дизайну и верстке с ДЗ и личным преподователем
                    .curses__card
                        img.curses__card-img(src="./img/mobile.jpg", alt="Card 2")
                        .curses__card-content
                            h3.curses__card-title Mobile разработчик
                            p.curses__card-desc Онлайн курсы по мобильной разработке с ДЗ и личным преподователем
                    .curses__card
                        img.curses__card-img(src="./img/frontend.png", alt="Card 3")
                        .curses__card-content
                            h3.curses__card-title Front-end разработчик
                            p.curses__card-desc Онлайн курсы по front-end разработке с ДЗ и личным преподователем
                    .curses__card
                        img.curses__card-img(src="./img/backend.png", alt="Card 4")
                        .curses__card-content
                            h3.curses__card-title Back-end разработчик
                            p.curses__card-desc Онлайн курсы по back-end разработке с ДЗ и личным преподователем
            section.sevices
                h2 Что вас ждёт на обучении
                .services-container.row
                    .services__card.column
                        .services__card-img.teacher
                        .services__card-content
                            h3 Общение с преподователем
                            p Secure shy favour length all twenty denote. Course sir people worthy horses add entire suffer. Ecstatic elegance gay but disposed. Am wound worth water he linen at vexed.. Their saved linen downs tears son add music. Way own uncommonly travelling now acceptance bed compliment solicitude. Small for ask shade water manor think men begin. He felic
                    .services__card.column
                        .services__card-img.practice
                        .services__card-content
                            h3 Практика
                            p Secure shy favour length all twenty denote. Course sir people worthy horses add entire suffer. Ecstatic elegance gay but disposed. Am wound worth water he linen at vexed.. Their saved linen downs tears son add music. Way own uncommonly travelling now acceptance bed compliment solicitude. Small for ask shade water manor think men begin. He felic
                    .services__card.column
                        .services__card-img.team
                        .services__card-content
                            h3 Работа в команде
                            p Secure shy favour length all twenty denote. Course sir people worthy horses add entire suffer. Ecstatic elegance gay but disposed. Am wound worth water he linen at vexed.. Their saved linen downs tears son add music. Way own uncommonly travelling now acceptance bed compliment solicitude. Small for ask shade water manor think men begin. He felic
        .statistics
            p 1000 студентов прошли обучение 
            p.statistics__signIn Записывайся!
            p 500 человек проходят курсы прямо сейчас
        .container
            section.prices.row
                .prices__banner.column
                    h2.prices__banner-title
                        span.value 7984 Р
                        br
                        | за месяц обучения
                .prices__form-container.column
                    h3 Запишитесь на консультацию
                    form.prices__form(action="/", method="post")
                        input#username(type="text", name="username", placeholder="Имя")
                        input#phone(type="text", name="phone", placeholder="Телефон" pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" minlength="10" maxlength="20")
                        input#email(type="text", name="email", placeholder="Email")
                        button(type="submit") Записаться
        footer
            .footer__container
                .sociad-media
                    a.vk(href="#")
                    a.tg(href="#")
                    a.tw(href="#")
                    a.yb(href="#")
                p © И.М. Юркин, 2020
                p.phone-number +7 999 999 99-99
        script(src="./labs_scripts/lab3/three.min.js")
        script(src="./labs_scripts/lab3/GLTFLoader.js")
        script(src="./labs_scripts/lab3/lab3.js")