<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="./fonts/Raleway-Black.ttf" rel="stylesheet")
        link(rel='stylesheet', href="./labs_styles/lab4/lab4.css")
        title Lab 4
    body
        header
            .wrapper
                .main-nav
                    img.main-nav__logo(src="./img/lab4/logo.png", alt="Logo")
                    ul.main-nav__menu
                        li
                            a.main-nav__link(href="#") Земля
                        li
                            a.main-nav__link(href="#") Крановые площади
                        li
                            a.main-nav__link(href="#") Выгрузка вагонов
                        li
                            a.main-nav__link(href="#") Фасовка
                        li
                            a.main-nav__link(href="#") Щебень
                    p.main-nav__phone +7 (927) 678-45-14
                    p.main-nav__location г. КАЗАНЬ, СКЛАДСКАЯ 20
                .slider-info
                    h1.slider-info__title выгрузка вагонов, АРЕНДА ЗЕМЛИ, КРАНОВЫХ ПЛОЩАДОК, ответственное хранение
                    button.slider-info__btn Заказать
                    .slider-dots
                        span.prev &#8592;
                        p.slider-count 
                            span.count 1 
                            | / 3
                        span.next &#8594;
                .slides
                    img.slide(src="./img/lab4/slide_1.png", alt="")
                    img.slide(src="./img/lab4/slide_2.jpg", alt="")
                    img.slide(src="./img/lab4/slide_3.jpg", alt="")
        section.services
            .wrapper
                h2.section-title Чем мы можем быть полезны
                .cards
                    a.card(href="#")
                        .maps
                        .card__img
                            img(src="./img/lab4/card1.png", alt="Card image")
                        p.card__title Крановая площадка
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card2.png", alt="Card image")
                        p.card__title Товары сельского хозяйства
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card3.png", alt="Card image")
                        p.card__title Фасовка от 300 гр до 1 тонны
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card4.png", alt="Card image")
                        p.card__title Гранитный щебень
                    a.card(href="#")
                        .maps
                        .card__img
                            img(src="./img/lab4/card5.png", alt="Card image")
                        p.card__title Аренда земли
                    a.card(href="#")
                        .maps
                        .card__img
                            img(src="./img/lab4/card6.png", alt="Card image")
                        p.card__title Аренда складов
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card7.png", alt="Card image")
                        p.card__title Выгрузка вагонов и ответственное хранение
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card8.png", alt="Card image")
                        p.card__title Автомобильные весы 18м. 80th
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card9.png", alt="Card image")
                        p.card__title Железнодорожный весы на 2 вагона
    script(src="./labs_scripts/lab4/lab4.js")