<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="./fonts/Raleway-Black.ttf" rel="stylesheet")
        link(rel='stylesheet', href="./labs_styles/lab4.css")
        title Lab 4
    body
        header
            .wrapper
                .main-nav
                    input#main-nav__toggle(type="checkbox")
                    label.main-nav__hamburger(for="main-nav__toggle")
                        span
                    img.main-nav__logo(src="./img/lab4/logo.png", alt="Logo")
                    ul.main-nav__menu
                        li
                            a.main-nav__link(href="#") Земля
                        li
                            a.main-nav__link(href="#") Крановые площади
                        li
                            a.main-nav__link(href="#") Выгрузка вагонов
                        li
                            a.main-nav__link(href="#") Фасовка
                        li
                            a.main-nav__link(href="#") Щебень
                    p.main-nav__phone +7 (927) 678-45-14
                    p.main-nav__location г. КАЗАНЬ, СКЛАДСКАЯ 20
                .slider-info
                    h1.slider-info__title выгрузка вагонов, АРЕНДА ЗЕМЛИ, КРАНОВЫХ ПЛОЩАДОК, ответственное хранение
                    button.slider-info__btn Заказать
                    .slider-dots
                        span.prev &#8592;
                        p.slider-count 
                            span.count 1 
                            | / 3
                        span.next &#8594;
                .slides
                    div(class="slide slide-1")
                    div(class="slide slide-2")
                    div(class="slide slide-3")
        section.features
            .wrapper
                h2.section-title Чем мы можем быть полезны
                .cards
                    a.card(href="#")
                        .maps
                        .card__img
                            img(src="./img/lab4/card1.png", alt="Card image")
                        p.card__title Крановая площадка
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card2.png", alt="Card image")
                        p.card__title Товары сельского хозяйства
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card3.png", alt="Card image")
                        p.card__title Фасовка от 300 гр до 1 тонны
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card4.png", alt="Card image")
                        p.card__title Гранитный щебень
                    a.card(href="#")
                        .maps
                        .card__img
                            img(src="./img/lab4/card5.png", alt="Card image")
                        p.card__title Аренда земли
                    a.card(href="#")
                        .maps
                        .card__img
                            img(src="./img/lab4/card6.png", alt="Card image")
                        p.card__title Аренда складов
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card7.png", alt="Card image")
                        p.card__title Выгрузка вагонов и ответственное хранение
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card8.png", alt="Card image")
                        p.card__title Автомобильные весы 18м. 80th
                    a.card(href="#")
                        .card__img
                            img(src="./img/lab4/card9.png", alt="Card image")
                        p.card__title Железнодорожный весы на 2 вагона
        section.advantages
            .wrapper
                h2.section-title Наши преимущества
                .advantages__wrapper
                    .advantages__item
                        .advantages__item-number 01
                        p.advantages__item-text 11.5 га площадь базы
                    .advantages__item
                        .advantages__item-number 02
                        p.advantages__item-text 2 своих тепловоза
                    .advantages__item
                        .advantages__item-number 03
                        p.advantages__item-text Повышенный путь для выгрузки инертных грузов
                    .advantages__item
                        .advantages__item-number 04
                        p.advantages__item-text 8 км от центра Казани
                    .advantages__item
                        .advantages__item-number 05
                        p.advantages__item-text Возможность выгрузки хопров и сыпучих грузов
                    .advantages__item
                        .advantages__item-number 06
                        p.advantages__item-text Железнодорожные весы на 2 вагона
                    .advantages__item
                        .advantages__item-number 07
                        p.advantages__item-text Автомобильные весы 18 м на 80 тонн
                    .advantages__item
                        .advantages__item-number 08
                        p.advantages__item-text 3 пандуса для выгрузки и загрузки крытых вагонов и фур
                    .advantages__item
                        .advantages__item-number 09
                        p.advantages__item-text  Козловой кран
        section.map
            .wrapper
                h2.section-title Карта территорий
                img.map__img(src="./img/lab4/map.png", alt="Карта территорий")
        section.first-service
            .wrapper
                .first-service__wrapper
                    .first-service__content
                        h2.first-service__title Аренда земли
                        p.first-service__text
                            | Предлагаем в аренду открытые площадки для хранения грузов и техники. Площадь базы составляет 11,5га. Общая  протяженность внутренних ж/д путей позволяет производить погрузо-разгрузочные работы до 60 вагонов в сутки единовременно. На базе работают два маневровых собственных тепловоза. Есть железнодорожные и автомобильные весы, козловой кран, повышенный путь, пандусы для выгрузки крытых вагонов и фур.
                        button.first-service__order-btn Получить консультацию
                    .first-service__img
                        img(src="./img/lab4/first-service.jpg", alt="")
        section.second-service
            .wrapper
                .second-service__wrapper
                    .second-service__content
                        h2.second-service__title Аренда земли
                        p.second-service__text
                            | Предлагаем в аренду открытые площадки для хранения грузов и техники. Площадь базы составляет 11,5га. Общая  протяженность внутренних ж/д путей позволяет производить погрузо-разгрузочные работы до 60 вагонов в сутки единовременно. На базе работают два маневровых собственных тепловоза. Есть железнодорожные и автомобильные весы, козловой кран, повышенный путь, пандусы для выгрузки крытых вагонов и фур.
                        button.second-service__order-btn Получить консультацию
                    .second-service__img
                        img(src="./img/lab4/second-service.jpg", alt="")
        section.contact
            h2.section-title Узнать о ценах, получить консультацию или персональное предложение
            form.contact-form(action="#", method="post")
                input#name(type="text", name="name" placeholder="Имя")
                input#phone(type="text", name="phone" placeholder="Телефон")
                button(type="submit") Отправить
        footer
            .wrapper
                .main-nav
                    img.main-nav__logo(src="./img/lab4/logo.png", alt="Logo")
                    ul.main-nav__menu
                        li
                            a.main-nav__link(href="#") Земля
                        li
                            a.main-nav__link(href="#") Крановые площади
                        li
                            a.main-nav__link(href="#") Выгрузка вагонов
                        li
                            a.main-nav__link(href="#") Фасовка
                        li
                            a.main-nav__link(href="#") Щебень
                    p.main-nav__phone +7 (927) 678-45-14
                    p.main-nav__location г. КАЗАНЬ, СКЛАДСКАЯ 20
    script(src="./labs_scripts/lab4/lab4.js")