<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href="./labs_styles/lab7.css")
        title Lab 7
    body
        header
            h1.header__title CSS Grid
        .wrapper
            h1.title Popular articles
            .articles
                .article.main-article
                    img.article__img(src="./img/team2.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article.important-article-left
                    img.article__img(src="./img/about.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article.important-article-right
                    img.article__img(src="./img/backend.png", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
                .article
                    img.article__img(src="./img/practice.jpg", alt="Article Image")
                    .article__content
                        a.article__content-title(href="") Article title
                        a.article__content-desc(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod debitis optio ullam. Impedit vel recusandae libero temporibus perferendis delectus.
                        p.article__content-date 07.06.2020
        footer
            p Yurkin Ivan 2020