doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		<link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet"> 
		title Web labs
		link(rel='stylesheet', href='./style.css')
	body
		header
			h2.title Labs
		.main_animation
			main.homeworks
				.homework-links
						a(href=``) Link to labs 1
						a(href=``) Link to labs 2
						a(href=``) Link to labs 3
						a(href=``) Link to labs 4
						a(href=``) Link to labs 5
						a(href=``) Link to labs 6
						a(href=``) Link to labs 7
						a(href=``) Link to labs 8
						a(href=``) Link to labs 9
		script(src='./index.js')