doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		<link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet"> 
		title Web labs
		link(rel='stylesheet', href='./style.css')
	body.preload
		main
			section.first-slide
				h1.title Labs
				.links
					a(href="https://github.com/yurkinIvan/web-labs-iyurkin").git-link Ссылка на репозиторий
			section.second-slide
				.second-slide__content
					a(href="") Link to lab 1
					a(href="") Link to lab 2
					a(href="") Link to lab 3
					a(href="") Link to lab 4
					a(href="") Link to lab 5
					a(href="") Link to lab 6
					a(href="") Link to lab 7
					a(href="") Link to lab 8
					a(href="") Link to lab 9
		script(src='./index.js')