doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Web labs
		link(rel='stylesheet', href='./style.css')
		link(href='https://fonts.googleapis.com/css?family=Cabin&display=swap', rel='stylesheet')
		link(rel='shortcut icon icon-', href='./img/icon.png', type='image/x-icon icon-')
	body
		section#homeworks
			h2.section-title Labs
			.line
			.homework-links
					a(href=``) Link to labs 1
					a(href=``) Link to labs 2
					a(href=``) Link to labs 3
					a(href=``) Link to labs 4
					a(href=``) Link to labs 5
					a(href=``) Link to labs 6
					a(href=``) Link to labs 7
					a(href=``) Link to labs 8
					a(href=``) Link to labs 9
		script(src='./index.js')