html {
    font-size: 20px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Sriracha', cursive;
    background-color: rgb(76, 175, 114);
}

.preload * {
    transition: none !important;
}

section {
    height: 100vh;
    width: 100%;
    position: absolute;
}

main {
    perspective: 1000px;
}

.first-slide {
    background-color: #000;
    top: 0;
    transition: transform 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.second-slide {
    background-color: #fee125;
    top: 0;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/******************** SLIDES' CONTENT ********************/

.second-slide__content {
    width: 50%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.second-slide__content a {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.5;
    text-decoration: none;
    position: relative;
    text-align: center;
    font-weight: 600;
}

.second-slide__content a::before, .git-link::before {
    content: "";
    display: block;
    bottom: 0;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #000;
    transition: 400ms;
    transform: scaleX(0);
}

.git-link::before {
    background-color: #fff;
    width: 100%;
    left: 0;
}

.second-slide__content a:hover::before, .git-link:hover::before {
    transform: scaleX(1);
}

.title {
    font-size: 3rem;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.git-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}

.links {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width: 1150px) {
    .second-slide__content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .second-slide__content {
        display: flex;
        flex-direction: column;
    }

    html {
        overflow: scroll;
        overflow-y: scroll;
    }

    section {
        position: relative;
    }
}